<div>
  <div class="mb-4">
    <button 
      class="bg-blue-500 text-white p-2 rounded mt-2 w-full" 
      (click)="navigateToAddProduct()">
      Add new product
    </button>
  </div>
  <div class="mb-4 flex space-x-2">
    <input 
      type="text" 
      placeholder="Search by name" 
      [(ngModel)]="search" 
      (input)="onSearch()" 
      class="p-2 border rounded w-full" />
  </div>
  <div class="mb-4 flex space-x-2">
    <h3 class="text-2xl font-bold mb-2">List of product</h3>
    <button class="bg-orange-400 text-black p-2 rounded" (click)="changeSortOrder('no')">Sort by No</button>
  </div>
  <div *ngIf="products.length === 0" class="text-center text-gray-500">
    No products available
  </div>
  <div *ngFor="let product of products">
    <app-product [product]="product" (delete)="deleteProduct($event)"></app-product>
  </div>
  <div class="mt-4 flex items-center space-x-2">
    <button 
      class="p-2 rounded" 
      [ngClass]="{'bg-gray-300 text-black': page === 1, 'bg-blue-500 text-white': page > 1}" 
      (click)="changePage(page - 1)" 
      [disabled]="page === 1">
      Previous
    </button>
    <span>Page {{ page }}</span>
    <button 
      class="p-2 rounded" 
      [ngClass]="{'bg-gray-300 text-black': products.length < limit, 'bg-blue-500 text-white': products.length === limit}" 
      [disabled]="products.length < limit"
      (click)="changePage(page + 1)">
      Next
    </button>
  </div>
</div>